*{
    background-color: lightslategray;
    color: white;
}

.recipePage{
    padding: 10px;
}

h1{
    text-align: center;
}

img{
    border: 2px solid black;
    margin-left: auto;
    margin-right: auto;
    display: block;
    height: auto;
    width: 500px;
}